body {
    background-color: #fecada;
}

#login {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,
h2 {
    text-align: center;
    margin-top: 30px;
    color: #b96f85;
}

header {
    box-shadow: 0px 7px 20px gray;
}

#principal-div {
    margin-top: 50px;
}

#bienvenida {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, 50%);
    font-size: 50px;
    /*width: 40%;*/
}

#Texto-Bienvenido {
    margin-top: 30px;
}

footer {
    text-align: center;
    background-color: #b96f85;
    color: white;
    margin-top: 100px;
    padding: 50px;
    position: relative;
    width: 100%;
}

#ver-mas {
    text-align: center;
}

#ver-galeria {
    margin-top: 30px;
}

#iniciar-sesion {
    margin-left: 20px;
}

.flores {
    margin-top: 30px;
}

#imagen-inicio {
    height: 600px;
    width: 120%;
}

.format {
    border: 3px solid gold;
    object-fit: cover;
    height: 50%;
}

.height-custom {
    height: 280px;
}

#espaciadoBody {
    margin-bottom: 250px;
}

.carousel-img {
    margin: auto;
}

.galeria-card {
    transition: .2s;
    cursor: pointer;
}

.galeria-card:hover {
    transform: scale(1.09);
}

.personalizarRadio {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}