body {
    background-color: #fecada;
}

#sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

label {
    font-size: large;
}

.form-control {
    font-size: large;
}

#logo {
    width: 75%;
    height: 75%;
}

#user-icon {
    width: 40px;
    height: 40px;
}

#user-icon:hover {
    background-color: gray;
}

#card-sign-up {
    border-radius: 10%;
    box-shadow: 0px 7px 20px gray;
}

header {
    box-shadow: 0px 7px 20px gray;
}

#rmpwd {
    border: 1px solid black;
}

#Texto-Bienvenido{
   /* width: 80%;
    text-align: center;*/

    margin-top: 30px;
}

footer{
    text-align: center;
    background-color: #b96f85;
    color: white;
    margin-top: 100px;
    padding: 50px;
}

#ver-mas {
    text-align: center;
}

#ver-galeria {
    margin-top: 30px;
}

.error{
    color: red;
}