body {
    background-color: #fecada;
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    width: 75%;
    height: 75%;
}

#user-icon {
    width: 40px;
    height: 40px;
}

#user-icon:hover {
    background-color: gray;
}

header {
    box-shadow: 0px 7px 20px gray;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 375px;
}

h1 {
    font-size: 48pt;
    font-family: roboto;
    color: #e313c4;
}

.btn-primary {
    font-size: 20pt;
}